<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../fonts/fonts.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
  <script src="../js/index.js"></script>
  <title>DeeptapodAI</title>
</head>
<body>
<header class="landing-header">
  <nav class="landing-nav">
        <span class="material-symbols-outlined" id="landing-hamburger">
          menu
        </span>
    <div class="menu-for-phone">
      <div class="menu-header">
        <span class="material-symbols-outlined cross" id="close_icon">
              close
            </span>
      </div>
      <ul class="lins-for-phone">
        <li><a href="#benefits-section">BENEFITS</a></li>
        <li><a href="#api-section">API</a></li>
        <!--        <li><a href="#pricing-section">PRICING</a></li>-->
        <li><a href="#about-section">ABOUT</a></li>
        <li><a href="#faq-section">FAQ</a></li>
        <!--        <li><a href="#contact-us-section">CONTACT US</a></li>-->
      </ul>
    </div>

    <a class="header-logo" href="#">
      <img src="../img/logo.webp" alt="Logo" />
    </a>
    <ul class="header-ul">
      <li><a href="#benefits-section">BENEFITS</a></li>
      <li><a href="#api-section">API</a></li>
      <!--      <li><a href="#pricing-section">PRICING</a></li>-->
      <li><a href="#about-section">ABOUT</a></li>
      <li><a href="#faq-section">FAQ</a></li>
      <!--      <li><a href="#contact-us-section">CONTACT US</a></li>-->
    </ul>
    <button id="signin-btn" class="header-btn">Sign In</button>
  </nav>
</header>
<main>
  <section class="landing-section" id="landing-section">
    <div class="landing-section-cont">
      <p class="landing-title">A SUITE OF APIS FOR TEXT PROCESSING ANALYSIS, AND NATURAL LANGUAGE PROCESSING
      </p>
      <div class="landing-sub-cont">
        <p class="landing-subtitle">FROM SENTIMENT ANALYSIS AND LANGUAGE DETECTION TO AUTOMATED
          SUMMARIZATION AND CONTENT GENERATION</p>
        <button id="landing-btn" type="button" class="landing-btn signup-btn">Sign Up<span
                  class="material-symbols-outlined">arrow_outward</span></button>
      </div>
    </div>
  </section>
  <section class="benefits-section" id="benefits-section">
    <div class="benefits-text-cont">
      <p class="benefits-title">
        WHY DEEPTAPOD
      </p>
      <p class="benefits-subtitle">
        DESIGNED TO CATER TO DEVELOPERS, DATA SCIENTISTS, AND BUSINESSES ALIKE, DEEPTAPOD.AI PROVIDES
        POWERFUL, EASY-TO-INTEGRATE APIS THAT FACILITATE A WIDE RANGE OF TEXT-RELATED OPERATIONS, INCLUDING
        TOKENIZATION, LEMMATIZATION, STEMMING, SENTIMENT ANALYSIS, TEXT CLASSIFICATION, MACHINE TRANSLATION,
        TEXT SUMMARIZATION, NAMED ENTITY RECOGNITION, PART-OF-SPEECH TAGGING, QUESTION ANSWERING, SPEECH
        RECOGNITION, AND TEXT-TO-SPEECH CONVERSION.
      </p>
    </div>
    <div class="benefits-cards">
      <div class="benefits-card">
        <p class="card-title">REAL TIME AND EFFICIENCY</p>
        <img src="../img/Graphic.png" alt="Graphic" class="card-img" width="428" height="261">
        <div class="card-text">
          <div class="card-text-section">
            <p class="card-desc-title">INSTANT UPDATES</p>
            <p class="card-desc-text">Provide real-time data to quickly respond to changes and trends.</p>
          </div>
          <div class="card-text-section">
            <p class="card-desc-title">POWERFUL ANALYSIS</p>
            <p class="card-desc-text">Uses advanced text analysis algorithms to quickly and accurately
              highlight key information points. </p>
          </div>
        </div>
      </div>
      <div class="benefits-card">
        <p class="card-title">DEEP ANALYSIS AND INTELLIGENT RESPONSES</p>
        <img src="../img/card_img.png" alt="Graphic" class="card-img" width="434" height="262">
        <div class="card-text">
          <div class="card-text-section">
            <p class="card-desc-title">MACHINE LEARNING</p>
            <p class="card-desc-text">Application of machine learning technologies to continuously improve
              the quality of analysis and accuracy of results.</p>
          </div>
          <div class="card-text-section">
            <p class="card-desc-title">SMART TIPS</p>
            <p class="card-desc-text">Provide contextual recommendations and reports to help you make
              decisions.</p>
          </div>
        </div>
      </div>
      <div class="benefits-card">
        <p class="card-title">FLEXIBILITY AND ADAPTABILITY</p>
        <img src="../img/card_img1.png" alt="Graphic" class="card-img" width="432" height="262">
        <div class="card-text">
          <div class="card-text-section">
            <p class="card-desc-title">CUSTOMIZATION TO SUIT YOUR NEEDS</p>
            <p class="card-desc-text">Ability to customize the system for various industries and types of
              text information.</p>
          </div>
          <div class="card-text-section">
            <p class="card-desc-title">API INTEGRATION</p>
            <p class="card-desc-text">Easy integration with other tools and systems via API for maximum
              flexibility.</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="benefits-rule">
  </section>
  <section class="api-section" id="api-section">
    <div class="api-title-cont">
      <h2 class="api-title">Transforming work and creativity with AI</h2>
      <p>Our API platform offers our latest models and guides for safety best practices.</p>
    </div>
    <div class="api-desc">
      <h3>Deeptapod API</h3>
      <p>APIs for tasks like tokenization, sentiment analysis, machine translation, and more, each featuring
        easy integration, clear documentation and practical examples to streamline workflows and enhance
        data insights.</p>
    </div>
    <div class="api-btn-cont">
      <h2>Made for developers</h2>
      <p>Developers can start building with a just simple API call.</p>
      <div class="api-buttons">
        <button id="api-btn-reg" type="button" class="api-btn left signup-btn">Integrate Now<span
                  class="material-symbols-outlined">arrow_outward</span></button>
        <button id="api-btn-doc" type="button" class="api-btn right"><span class="api-btn-text">Read
                            Documentation</span><span class="material-symbols-outlined">arrow_outward</span></button>

      </div>
    </div>
    <div class="api-code-cont">
      <p class="api-code-cont-content">
        completion = openai.ChatCompletion.create(<br>
        model="<span class="api-code-cont-code">gpt-3.5-turbo",</span><br>
        messages=[<br>
        {<span class="api-code-cont-code">"role": "system", "content": "You are a helpful
                        assistant."</span>},<br>
        {<span class="api-code-cont-code">"role": "user", "content": "What are some famous astronomical<br>
                        observatories?"</span>}<br>
        ]<br>
        )
      </p>
    </div>
    <div class="api-card first">
      <p class="api-card-title">Sentiment Analysis API</p>
      <p class="api-card-cont">Determines the emotional tone behind a body of text, with straightforward
        examples and a user-friendly API for quick integration.</p>
    </div>
    <div class="api-card resp-card first">
      <p class="api-card-title">Text Classification API</p>
      <p class="api-card-cont">Automatically categorizes text into predefined labels, supported by clear
        documentation and easy-to-understand sample applications.</p>
    </div>
    <div class="api-card second">
      <p class="api-card-title">Text Summarization API</p>
      <p class="api-card-cont">Creates concise summaries of longer texts, complete with detailed examples and
        simple integration steps.</p>
    </div>
    <div class="api-card resp-card second">
      <p class="api-card-title">Question Answering API</p>
      <p class="api-card-cont">Provides specific answers to questions based on the provided text, with
        easy-to-use interfaces and detailed documentation.</p>
    </div>
  </section>
  <!--  <section class="pricing-section" id="pricing-section">-->
  <!--    <hr class="pricing-rule">-->
  <!--    <p class="pricing-title">PRICING</p>-->
  <!--    <div class="pricing-cards">-->
  <!--      <div class="pricing-card">-->
  <!--        <div class="pricing-card-title">Free</div>-->
  <!--        <p class="pricing-card-subtitle">For individuals just getting started with-->
  <!--          <strong>Deeptapod.ai</strong></p>-->
  <!--        <div class="price">-->
  <!--          <b class="pricing-card-price">$0</b>-->
  <!--        </div>-->
  <!--        <button type="button" class="pricing-card-btn">START NOW<span-->
  <!--                class="material-symbols-outlined">arrow_outward</span></button>-->
  <!--        <div class="pricing-card-features">-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Unlimited massages,interactions, and history.</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Access to our GPT-3.5 model</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Access on web, iOS, Android</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="pricing-card">-->
  <!--        <div class="pricing-card-title">Plus</div>-->
  <!--        <p class="pricing-card-subtitle">For individuals looking to amplify their productivity</p>-->
  <!--        <div class="price">-->
  <!--          <b class="pricing-card-price">$20</b>-->
  <!--          <span>per user billed monthly</span>-->
  <!--        </div>-->
  <!--        <button type="button" class="pricing-card-btn">START NOW<span-->
  <!--                class="material-symbols-outlined">arrow_outward</span></button>-->
  <!--        <p class="feature-names">Everything in Free, and:</p>-->
  <!--        <div class="pricing-card-features">-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Access to Deeptapod.ai, ourmost capable-->
  <!--              model</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Browse, create, and use GPTs</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Access to additional tools like DALLE,-->
  <!--              Browsing, Advanced Data Analysis, and more</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="pricing-card">-->
  <!--        <div class="pricing-card-title">Team</div>-->
  <!--        <p class="pricing-card-subtitle">For individuals teams looking to supercharge collaboration</p>-->
  <!--        <div class="price">-->
  <!--          <b class="pricing-card-price">$25</b>-->
  <!--          <span>per user/month bills annually</span>-->
  <!--        </div>-->
  <!--        <button type="button" class="pricing-card-btn">START NOW<span-->
  <!--                class="material-symbols-outlined">arrow_outward</span></button>-->
  <!--        <p class="feature-names">Everything in Plus, and:</p>-->
  <!--        <div class="pricing-card-features">-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Unlimited , high speed access to GPT-4 and-->
  <!--              tools like DALLE, Browsing,Advanced data Analysis, and more</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Create and share GPTs with your workspace-->
  <!--            </p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Admin console for workspace management</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Team data excluded from training by-->
  <!--              default.</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="pricing-card">-->
  <!--        <div class="pricing-card-title">Enterprise</div>-->
  <!--        <p class="pricing-card-subtitle">For innovative companies looking to scale securely</p>-->
  <!--        <button type="button" class="pricing-card-btn last">CONTACT SALES<span-->
  <!--                class="material-symbols-outlined">arrow_outward</span></button>-->
  <!--        <p class="feature-names">Everything in Team, and:</p>-->
  <!--        <div class="pricing-card-features">-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Unlimited , high speed access to GPT-4 and-->
  <!--              tools like DALLE, Browsing,Advanced data Analysis, and more</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Expanded context window for longer inputs-->
  <!--            </p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Saml SSO</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Enterprise data excluded from training by-->
  <!--              default & custom data retention windows.</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Admin controls, domain verification, and-->
  <!--              analytics</p>-->
  <!--          </div>-->
  <!--          <div class="pricing-card-feature">-->
  <!--            <span class="material-symbols-outlined">done</span>-->
  <!--            <p>Priority support & ongoing account-->
  <!--              management</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->
  <section class="about-section" id="about-section">
    <hr class="about-section-rule">
    <p class="about-title">ABOUT</p>
    <div class="about-cont">
      <div class="about-subtitle-btn-cont">
        <p>WE AIM TO REVOLUTIONIZE THE WAY TEXT INFORMATION IS MONITORED BY PROVIDING CUTTING-EDGE SOLUTIONS
          FOR FAST AND INTELLIGENT DATA ANALYSIS.</p>
        <p>WE ARE A LEADING COMPANY IN DEVELOPING INNOVATIVE TEXT MONITORING TOOLS USING ADVANCED MACHINE
          LEARNING AND ARTIFICIAL INTELLIGENCE TECHNOLOGIES. OUR PRODUCT ENABLES CUSTOMERS ACROSS
          INDUSTRIES TO GAIN REAL-WORLD DATA IN REAL TIME, MAKING TEXT ANALYTICS INTUITIVE AND EFFICIENT.
        </p>
        <button id="about-btn" type="button" class="about-button signup-btn">Get Started
          <span class="material-symbols-outlined">arrow_outward</span>
        </button>
      </div>
      <img src="../img/video.png" alt="Video" class="about-video">
      <hr class="about-card-rule">
      <div class="about-card first">
        <p class="about-card-title">Real Time</p>
        <p class="about-card-subtitle">We provide instant updates and powerful data analysis for fast
          decision-making.</p>
      </div>
      <div class="about-card second">
        <p class="about-card-title">Intelligent Analysis</p>
        <p class="about-card-subtitle">Our product uses machine learning to perform deep analysis and provide
          intelligent answers.</p>
      </div>
      <div class="about-card third">
        <p class="about-card-title">Flexibility and Security</p>
        <p class="about-card-subtitle">We provide high flexibility in customizing the product to suit different
          needs and prioritize the
          security of our customers' data.</p>
      </div>
    </div>
  </section>
  <section id="faq-section" class="faq-section">
    <hr class="faq-rule">
    <p class="faq-title">FAQ</p>
    <div class="faq-questions">
      <div class="faq-question-cont">
        <div class="faq-question-icon">
          <p class="faq-question">How to start using your API for text monitoring?</p>
          <span class="material-symbols-outlined">add</span>
        </div>
        <div class="faq-answer-dropdown">
          <p class="faq-answer"> Create an account on our site and get your API key. Refer to API docs for endpoints and usage details.
          </p>
        </div>
      </div>
      <hr class="faq-question-hr">
      <div class="faq-question-cont">
        <div class="faq-question-icon">
          <p class="faq-question">What languages does your text analytics API support?</p>
          <span class="material-symbols-outlined">add</span>
        </div>
        <div class="faq-answer-dropdown">
          <p class="faq-answer">Our text analytics API currently supports English exclusively. We are in the process of expanding its capabilities to include additional languages in the near future.</p>
        </div>
      </div>
      <hr class="faq-question-hr">
      <div class="faq-question-cont">
        <div class="faq-question-icon">
          <p class="faq-question">What are the main features of your text monitoring API?</p>
          <span class="material-symbols-outlined">add</span>
        </div>
        <div class="faq-answer-dropdown">
          <p class="faq-answer">Refer to the page where the list of functions for text processing is available; AI-specific functions will be added shortly.</p>
        </div>
      </div>
      <hr class="faq-question-hr">
      <div class="faq-question-cont">
        <div class="faq-question-icon">
          <p class="faq-question">Can your API be integrated with other services?</p>
          <span class="material-symbols-outlined">add</span>
        </div>
        <div class="faq-answer-dropdown">
          <p class="faq-answer">It seamlessly integrates with any service. Examples of integration can be found on the reference page in languages like C++, Java, C#, Python, and JavaScript.</p>
        </div>
      </div>
    </div>
  </section>

<section class="contact-us-section" id="contact-us-section">
  <hr class="contact-us-rule">
  <p class="contact-us-title">CONTACT US</p>
  <div class="contact-us-cont">
    <div class="contact-info">
      <p class="contact-title">CONTACT INFORMATION</p>
      <p class="contact-sub"><span class="material-symbols-outlined">mail</span>deeptapod@gmail.com</p>
      <p class="contact-sub"><span class="material-symbols-outlined">call</span>+37412345678</p>
      <p class="contact-sub"><span class="material-symbols-outlined">location_on</span>Deep Tapodovksi Str.
        10, Yerevan</p>
    </div>
    <div class="contact-form-cont">
      <p class="form-title">OPTIMIZE YOUR TEXT WORLD WITH US</p>
      <p class="form-subtitle">Leave Feedback on the Text Monitoring API!</p>
      <form id="message-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
           <input type="email" id="email" name="email">-        </div>
        <div class="form-group message">
          <label for="message">Message</label>
          <input type="text" id="message" name="message">
        </div>
        <button class="form-btn" type="submit">Send Message<span class="material-symbols-outlined">arrow_outward</span>
         </button>
       </form>
    </div>
  </div>
   </section>
</main>
<footer class="landing-footer">
  <a href="#" class="footer-logo-ref">
    <img src="../img/logo.webp" alt="Footer Logo" class="footer-logo" width="109" height="80">
  </a>
  <ul class="footer-ul">
    <li><a href="#benefits-section">Benefits</a></li>
    <li><a href="#api-section">API</a></li>
    <!--    <li><a href="#">Pricing</a></li>-->
    <li><a href="#about-section">About</a></li>
    <li><a href="#faq-section">FAQ</a></li>
    <!--    <li><a href="#">Contact Us</a></li>-->
  </ul>
</footer>
</body>

</html>
