<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeeptapodAI</title>
    <link rel="stylesheet" href="/css/notFound.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/fonts.css">
</head>

<body>
    <main class="error-main">
        <div class="logo-cont">
            <img class="logo" src="/img/logo.webp" alt="Logo">
        </div>
        <div class="error-cont">
            <p class="title">[404]</p>
            <p class="sub-subtitle">Oop! Sorry,we could not find the page</p>
            <button id="landing-btn" type="button" class="landing-btn signup-btn">Go back home<span
                class="material-symbols-outlined">arrow_outward</span></button>
        </div>
    </main>
    </body>
    
    </html>
    