<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeeptapodAI</title>
    <link rel="stylesheet" href="/css/signin.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <script src="/js/signin.js" defer></script></head>

<body>
<main class="signin-main">
    <div id="logo" class="logo-cont">
        <img class="logo" src="/img/logo.webp" alt="Logo">
    </div>
    <div class="signin-cont">
        <p class="title">SIGN IN</p>
        <p class="subtitle">GET STARTED NOW</p>
        <p class="sub-subtitle">Enter your credentials to access your account</p>
        <form id="signin-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
                <span class="material-symbols-outlined email">
                        mail
                    </span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <span class="material-symbols-outlined password">
                        lock
                    </span>
            </div>
            <button class="form-btn" type="submit"> Sign In
                <span class="material-symbols-outlined">
                        arrow_outward
                    </span>
            </button>
        </form>

        <div class="or">
            <hr>
            <p>or</p>
            <hr>
        </div>
        <div class="google-icon">
            <img src="/img/google-icon.webp" alt="Google Icon" width="40" height="40">
        </div>
        <div class="signup">
            <p>Don't have an account?</p>
            <a id="signup-btn">Sign Up</a>
        </div>
    </div>
</main>
</body>

</html>
